<!DOCTYPE html>
@using Yulya.Models
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body id="scrollDiv">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/admin.css" />
    <table class="AdminPanel">
        <tr>
            <td class="SiteStructPanel">
                <div class="AdminNavyContainer">
                    <div class="StructLabel">Страницы:</div>
                    @foreach (AdminMenuStruct SiteStruct in (IEnumerable<AdminMenuStruct>)@ViewData["AdminSiteStruct"])
                    {
                        if (SiteStruct.MenuLink != "")
                        {
                            <a class="StructButton" asp-controller="Admin" asp-action="@SiteStruct.MenuLink">@SiteStruct.MenuName</a>
                        }
                    }
                </div>
            </td>
            <td id="StructContentPlaceholder" class="StructContent">
                @RenderBody()
            </td>
        </tr>

    </table>
   
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Admin.js"></script>
</body>
</html>
