
@{
    Layout = null;
}

@model Yulya.Models.Admin
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<link type="text/css" rel="stylesheet" href="~/css/Login.css" />
<form asp-action="Login" asp-controller="Admin" class="LoginFormDiv">
    <div class="NameLabel">Имя:</div>
    <input type="text" asp-for="Login" class="NameField" />
    <span asp-validation-for="Login" />
    <br />
    <div class="PassLabel">Пароль:</div>
    <input type="password" asp-for="Passw" class="PassField" />
    <span asp-validation-for="Passw" />
    <br />
    <input type="submit" value="Вход" class="LoginButton" />
    <br />
</form>