@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
<link type="text/css" rel="stylesheet" href="~/css/Login.css" />
<div class="ClientErrorDiv">
    <span class="NameLabel">Сожалеем, произошла какая-то ошибка. Обещаем всё исправить в ближайшее время.</span>

</div>
