body
{
    background:rgba(193, 184, 176, 1) ;
}
table
{width: 100%;}
td{padding: 0;margin: 0;}
.selected
{
opacity: 0.5;
}
.selectedPlaceholder
{
    background-color: yellow;
}
.AdminPageLabel
{
    font-size: 1vw;
    height: auto;
    text-align: center;
}
.DeleteElementButton, .AddElementButton
{
    height: 1.6vw;
    width: 1.6vw;
    margin: auto;
    display: block;
    border: solid 1px;
    border-radius: 25%;
    /* background-image: url("/Images/DeleteImgFromGalleryButt_Small.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.AddElementButton
{
    /* background-image: url("/Images/AddContactLink_small.png"); */
}
.DeleteGalleryImageButton
{
    position: absolute;
    width: 100%;
    height: 88%;
    background-image: url("/Images/DeleteImgFromGalleryButt_Small.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-size: 0;
    z-index: 5;
    opacity: 0;
}
.DeleteGalleryImageButton:hover
{
  opacity: 1;
}
.FileInput
{
    font-size: 0.8vw;
    display: inline-block;
}
.FileInputSubmitButt
{
    font-size: 0.8vw;
    display: inline-block;
}
.FileInputImage, .FileInputIcon
{
    display: block;
    margin: auto;
    height: 17vh;
}
.FileInputIcon
{
    height: 8vh;
}
.AdminPanel
{
    width: 100%;
height: 100%;
}
.SiteStructPanel
{
    width: 10vw;
   vertical-align: top;
}
.AdminNavyContainer
{
    background-color: cornsilk;
    position: fixed;
    width: 10vw;
    top: 0.5vw;
    left: 0.5vw;
}
.StructLabel
{
    font-size:1vw;
    height:1.2vw;
    text-align: center;
    background-color: gainsboro;
    border-bottom: solid 1px black;
}
.StructButton
{
    display: block;
    width: 100%;
    margin-top: 1vh;
    text-align: center;
 font-size: 1.2vw;
 height: 4vh;
 border-bottom: solid 1px black;
 outline: none;
}
.StructContent
{
}
.StructContentTable
{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 2vw;
}
.AddButton, .SubmitButton
{
    width: 10vw;
    position: fixed;
    bottom: 5vw;
    left: 0.6vw;
    font-size: 1.2vw;
    padding:0.8vw 0vw 0.8vw 0vw;
    border: solid;
    outline: none;
}
.SubmitButton
{
    bottom: 1vw;
}
.AddButton:hover, .SubmitButton:hover
{
   background-color: rgba(193, 184, 176, 1) ;
}


.HeaderStructContentTable
{
    height: fit-content;
}
.StructContentRaw
{
    height: fit-content;
}

.StructContentLabel
{
    font-size: 1.2vw;
    height: auto;
    text-align: center;
    background-color: gainsboro;
    border: solid 1px black;
}
.StructHeaderCell
{
    font-size: 2vw;
    border: solid 1px black;
    width: 100%;
}
.StructContentText
{
    font-size: 1.5vw;
    width: 100%;
    word-wrap: break-word;
    height: auto;
    resize: none;
}
.StructContentImg
{
height: 15vh;
}
.StructContentCell
{
    font-size: 2vw;
    width: auto;
    display: block;
    margin: auto;
}
@media screen and (max-width:800px)
{
   
}
@media screen and (max-width:455px)
{

}