.ClinetInfoTable
{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
   
}
.ClinetInfoTableRaw, .ClinetInfoTableRawMain
{
    background-color: rgba(255, 255, 255, 0.3);
   border-spacing: 0px;
   margin-top: 1vh;
   border: solid 1px;
}
.ClinetInfoTableRawMain
{
    background-color: rgba(255, 255, 255, 0.3);
}
.ContactsRawTable
{
    border-top: solid 1px;
    margin-top: 0vh;
}
.ClientInfoTextInput
{
    font-size: 1vw;
    width: 99%;
    display: block;
    margin: auto;
    resize: vertical;
}
.ClientInfoTextInputMain
{
    width: 99%;
    font-size: 1vw;
    display: block;
    margin: auto;
    resize: vertical;
}

.ClientInfoColumn1
{
width: 5%;
}
.ClientInfoColumn2
{
    width: 75%;
}
.ClientInfoColumn3
{
    width: 20%;
}
.ContactsRawColumn1
{
    width: 4%;
}
.ContactsRawColumn2
{
    width: 1%;
}
.ContactsRawColumn3
{
    width: 38%;
}

@media screen and (max-width:800px)
{
   
}
@media screen and (max-width:455px)
{

}