.MainPanel
{
  height: auto;
  overflow-y: hidden;
  /* height: auto; */
  width: 100%;
  background-color:transparent;
  position: relative;
  z-index: 10;
  transition: right 0.2s linear 0.0s;
}
.MainHeader
{
  font-weight: 500;
    width: 100%;
    padding: 0vw 6vw 0vw 6vw;
    margin: 3vh 0vh 6vh 0vh;
    text-align: center;
    height: auto;
    display: block;
    font-size: 19pt;
      font-size: 1.2vw;
 
}
.ContactsSlideContainer
{
    position: relative;
    height: 50%;
   width: 100%;
   padding: 0vw 6vw 0vw 6vw;
   display: inline-block;
   margin: 0vh 0vh 8vh 0vh;
   border: none;
   text-align: center;
   
   
   cursor: -webkit-grab;
   cursor: grab;
   user-select: none;
}
.ContactsTable
{
width: 100%;
height: 100%;
table-layout: fixed;
empty-cells: show;
}
.SlideLayoutTableRawTwo
  {
    display: none;
  }
 

.TableCellPicRight
  {
    display: block;
    height: 39vh;
  }
.TableCellPicDown
{
  display: none;
}
.ContactsImage
{
    height: 100%;
}
.CenterAlignSubHeader
{
  line-height: 8vh;
  width: 100%;
  height: auto;
  display: block;
text-transform: uppercase;
font-weight: 400;
text-align: center;
}
.ServiceTextDiv
{
  padding: 0;
  display: block;
 font-weight: 300;
 font-size: 19pt;
 font-size: 1.2vw;
 list-style-type: "-";
 text-align: left;
}
.LinksContainer
{
    margin: auto;
text-align: center;
}
.ContactsImageLink
{
    width: 10%;
    border: none;
    margin-bottom: 1.5vh;
}
.ContactsImageLink:hover
{
    filter: grayscale(0.6);
}
.ContactsTextLink
{
    font-size: 28pt;
    font-size: 2vw;
    /* line-height: 4vw; */
}
@media screen and (max-width:800px)
{ 
   /* .BackButton
  {
    display: block;
    visibility: visible;
  } */
    .SlideLayoutTableRawTwo
    {
      display: block;
    }
    .TableCellPicRight
  {
    display: none;
  }
.TableCellPicDown
{
  display: block;
}
  .TableCellText {
    
    width: 55%;
  }
  .MainHeader
  {
    margin: 4vh 0vh 4vh 0vh;
    font-size: 1.3em;
    font-size: 2.6vw;
  }
  .ContactsSlideContainer
{
margin: 0vh 0vh 4vh 0vh;

}
  .ServiceTextDiv
  {
    font-size: 1.0em;
    font-size: 2.6vw;
  }
  .ContactsTextLink
{
    font-size: 26pt;
    font-size: 4vw;
    line-height: 8vw;
}
  .ContactsImage
{

  width:100%;
 
}
}
@media screen and (max-width:455px)
{
  
  .SlideLayoutTableRawTwo
  {
    display: block;
  }
  .ContactsSlideContainer
{
    width: 99.9%;
    padding-bottom: 50.1%;  
}
.TableCellPicRight
  {
    display: none;
  }
.TableCellPicDown
{
  margin-top: 2vh;
  display: block;
}
.MainHeader
{
  font-size: 0.76em;
  font-size: 3.4vw;
}
  .ServiceTextDiv
  {
    font-size: 0.76em;
    font-size: 3.4vw;
  }
  .ContactsImageLink
{
 width: 9vw;
    margin-bottom: 1vh;
}
  .ContactsTextLink
  {
      font-size: 12pt;
      font-size: 4vw;
      line-height: 8vw;
  }
    .ContactsImage
  {
  
    width: 100%;
  }

}
@media screen and (max-height:455px)
{
  .ServiceSlideContainer
{
margin: 0vh 0vh 8vh 0vh;

}
  .SlideLayoutTableRawTwo
  {
    display: none;
  }
  .TableCellPicRight
  {
  
  display: table-cell;
  }
  .TableCellPicDown
  {

  display: none;
  }
  .ContactsImageLink
  {
   width: 8vw;
  }
  .ServiceTextDiv 
  {
    height: auto;
    font-size:  2.6vw;
  }
  .ContactsTextLink
  {
    font-size: 18pt;
    font-size: 3vw;
    line-height: 4vw;
  }
  .MainHeader
  {
    font-size: 2.6vw;
  }
  .ContactsImage
  {
  float: right;
    width: auto;
    height: 100%;
  }
}