.HeaderPanel
{
  display:none;
}
.MainPanel
{
  height: 100%;
  /* height: auto; */
  width: 100%;
  display: flex;
  align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  background-color:transparent;
  position: relative;
}

.PreviewGalleryMasterDiv
{
  position: relative;
  display: flex;
  align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  height: 100%;
}
.PreviewGallerySlideContainer
{
  width: 24.6vw;
  height: 32.6vh;
  text-align: center;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  /* object-fit: contain; */
  position: relative;
  margin: 0vh 0vh 0.4vw 0vh;
  background-color: black;
}
.PreviewGallerySlideImg
{
  user-select: none;
  height: 100%;
  width:100% ;
  width: auto;
  object-fit: cover;
  position: relative;
}
.GalleryPanel
{
  /* height: 83vh; */
  height: 100vh;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 0;
  display: block;
}
.GalleryMasterDiv {
    height: 100%;
    font-size: 0; /*gap betwwen two divs!!!*/
    display: block;
    transform: translateX(-100vw);
    animation: SliderAppiriance 0s 0;
}
@keyframes SliderAppiriance {
    0% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-80%);
    }

    65% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(-100%);
    }
}
.GallerySlideContainer {
    display: inline-block;
    margin: 0vh 0vh 1vh 0vh;
    background-color: black;
    transition: all 0.6s ease-in-out 0.0s;
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    cursor: -webkit-grab;
    cursor: grab;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.GallerySlideBlckout
{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0,0, 0.6);
  display: block;
  opacity: 0;
    user-select: none;
    -moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: -webkit-grab;
  cursor: grab;
}
.GallerySlideImg
{
  user-select: none;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
}

.CloseGallery
{
  opacity: 0.6;
  display: block;
  width: 4vw;
  height:4vw;
  position: absolute;
  top:0vw;
  right: 0.5vw;
  z-index: 99;
  cursor: pointer;
user-select: none;
  /* filter: drop-shadow(0px 8px 8px rgba(193,184,176,1)); */
}
.CloseGalleryImg
{
  display: block;
  height: 4.8vh;
  float: right;
    /* filter: invert(1); */
   
}
.CloseGallery:hover
{
  filter: drop-shadow(0px 0px 8px rgba(193,184,176,1));
}
.NextButtonDiv
{
  opacity: 0.6;
  outline: none;
  z-index: 99;
  position: absolute;
right:0px;
top: 50%;
transform: translateY(-50%);
  height:auto;
  border-radius: 70% 0% 0% 70%;
width:4vw;
padding: 4% 1% 4% 1%;
background: transparent;
display: block;
cursor: pointer;
user-select: none;
transition: all 0.6s ease-in-out 0s;
}
.NextButtonDiv:hover
{
  /* background: rgba(100,100,100,0.8); */
  filter: drop-shadow(0px 0px 8px rgba(193,184,176,1));
}
.NextButtonImg
{
  /* width: 100%; */
height: 2.8vh;
float: right;
background: transparent;
/* filter: drop-shadow(0px 0px 8px rgba(193,184,176,1)); */
}

.PrevButtonDiv
{
  opacity: 0.6;
  outline: none;
   z-index: 99;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
height:auto;
border-radius: 00% 70% 70% 0%;
width:4vw;
padding: 4% 1% 4% 1%;
background: transparent;
display: block;
cursor: pointer;
user-select: none;
transition: all 0.6s ease-in-out 0s;
}
.PrevButtonDiv:hover
{
  /* background: rgba(100,100,100,0.8); */
  filter: drop-shadow(0px 0px 8px rgba(193,184,176,1));
}

.PrevButtonImg
{height: 2.8vh;
  float: left;
background: transparent;
/* filter: drop-shadow(0px 0px 8px rgba(193,184,176,1)); */
}

@media screen and (max-width:1024px)
{
  .CloseGallery
  {
    width: 8vw;
    height: 8vw;
  }
  .CloseGalleryImg
  {
    height:4.2vh;
  }
  .NextButtonDiv, .PrevButtonDiv
  {
    width: 5vw;
  }
  .NextButtonImg, .PrevButtonImg
  {
    height: 2.2vh;
  }
}
@media screen and (max-width:800px)
{
   /* описание backbutton в styles.css */
  .BackButton
  {
    display: block;
    visibility: visible;
  }
.PreviewGallerySlideContainer
{
  width: 32.9vw;
}
.PreviewGallerySlideImg
{
  width:100% ;
}
.CloseGallery
{
  width: 10vw;
  height: 10vw;
}
.CloseGalleryImg
{
  height:3.6vh;
}
.NextButtonDiv, .PrevButtonDiv
{
  width: 6vw;
}
.NextButtonImg, .PrevButtonImg 
 {
  height: 2vh;
}
}
@media screen and (max-width:455px)
{
  .PreviewGallerySlideContainer
{
  height: 24.6vh;
}
.CloseGallery
{
  width: 12vw;
  height: 12vw;
}
.NextButtonDiv, .PrevButtonDiv
{
  width: 8vw;
}
}
@media screen and (max-height:455px)
{
  .CloseGallery
  {
    width: 8vw;
    height: 8vw;
  }
  .CloseGalleryImg
  {
    height:6.6vh;
  }
  .NextButtonDiv, .PrevButtonDiv
  {
    width: 6vw;
  }
  .NextButtonImg, .PrevButtonImg 
   {
    height: 3vh;
  }
.PreviewGallerySlideContainer
{
  height: 42.6vh;
  margin: 0vh 0vh 0.5vw 0vh;
}
 
}